/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Russo+One&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Chakra Petch', sans-serif;
}

/* Header */
header {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(148, 25, 214, 1) 17%, rgba(213, 101, 162, 1) 74%, rgba(252, 176, 69, 1) 100%);
    color: black;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 4px #FF94CD;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

#logo {
    line-height: 50px;
}

header a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
}

h1 {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
    padding-left: 5px;
}

#menu {
    list-style-type: none;
    font-size: 120%;
    letter-spacing: 2px;
    float: right;
    text-align: right;
}

#menu>li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 2px dashed black;
}

/* Navbar styles - dropdown menu */
nav {
    position: absolute;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(148, 25, 214, 1) 17%, rgba(213, 101, 162, 1) 74%, rgba(252, 176, 69, 1) 100%);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 4px #FF94CD;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: #2E2E2E;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 50px;
    color: whitesmoke;
}

/* Footer */
footer {
    background-color: lightpink;
}

/* Media query: tablets and larger (768px and larger) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background: none;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 260%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        margin-top: 75px;
    }
}